.form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  box-shadow: 13px 13px 23px 11px rgb(45 106 184 / 40%);
  border-radius: 8px;
}

.label {
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  align-items: center;
  font-size: large;
  text-align: left;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.label input {
  box-shadow: inset 0px 0px 8px 4px rgb(0 0 0 / 30%);
}

.formBtn {
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: rgb(4, 177, 234);
  border: none;
  border-radius: 6px;
  color: #fff;
  flex-grow: 1;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  height: 36px;
  line-height: 20px;
  margin-left: 8px;
  margin-right: 6px;
  min-width: 185px;
  padding: 0 16px 0 16px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 40%);
}

.formBtn:hover {
  background-color: rgba(244, 122, 0, 0.8);
  cursor: pointer;
  scale: 1.02;
}
