.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}

.logInUser {
  color: royalblue;
}

.btnLogin {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(0, 176, 182);
  border: none;
  border-radius: 6px;
  color: #fff;

  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  height: 36px;
  line-height: 20px;
  margin-left: 8px;
  margin-right: 6px;
  min-width: 20px;
  padding: 0 16px 0 16px;
  cursor: pointer;
}

.btnLogin:hover {
  background-color: rgb(229 38 223 / 95%);
  cursor: pointer;
}